ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li {
  list-style: none;
}
.record-live::before,
.none-live::before,
.live::before {
  position: absolute;
  display: block;
  width: 95px;
  height: 40px;
  color: #fff;
  text-align: center;
  right: 20px;
  top: 5px;
  z-index: 1033;
  font-size: 20px;
  line-height: 40px;
  background: url("/public/images/live.png") no-repeat center;
}
.record-live::before {
  content: '回放';
}
.live::before {
  content: '直播中';
}
.none-live::before {
  content: '未开播';
}
.navbar {
  z-index: 1031;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  box-shadow: 2px 2px 2px #ccc;
}
.navbar a {
  color: #000;
}
.navbar .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.navbar .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar .navbar-brand img {
  height: 60px;
}
.footer {
  background-color: #323337;
}
.footer * {
  color: #ccc;
  font-size: 14px;
}
.footer .l1 {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.footer .l1 a {
  padding: 0px 20px;
}
.footer .l2 {
  margin-top: 30px;
}
.footer .l3 {
  padding: 15px;
}
body.home-show .show-content {
  margin-top: 30px;
  margin-bottom: 30px;
}
body.home-show .show-content .left,
body.home-show .show-content .right {
  height: 600px;
}
body.home-show .show-content .video-box {
  height: 600px;
  position: relative;
  padding-right: 0px;
  background-color: #000000;
  overflow: hidden;
}
body.home-show .show-content .video-box #loading-box {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0px;
  top: 35%;
  font-size: 16px;
  color: #FFFFFF;
}
body.home-show .show-content .video-box #loading {
  color: #FFFFFF;
  box-shadow: 5px 5px 5px #000;
}
body.home-show .show-content .video-box #play {
  display: none;
  position: absolute;
  text-align: center;
  width: 81px;
  height: 81px;
  text-decoration: none;
}
body.home-show .show-content .video-box .seeking,
body.home-show .show-content .video-box .pausing {
  background: url(/public/images/video.png) center center no-repeat;
  background-position: 0px -81px;
}
body.home-show .show-content .author {
  height: 85px;
  padding: 10px 15px;
  background-color: #f3f3f3;
}
body.home-show .show-content .author img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
body.home-show .show-content .author h5 {
  color: #000000;
  font-size: 16px;
}
body.home-show .show-content .author .media-body {
  position: relative;
  margin-left: 10px;
}
body.home-show .show-content .author .media-body p {
  font-size: 14px;
  color: #C0C4CC;
}
body.home-show .show-content .author .media-body .BTN-add-attention {
  position: absolute;
  right: 0px;
  top: 15px;
  padding: 5px 15px;
  border-radius: 30px;
}
body.home-show .show-content .chart-area {
  position: relative;
  height: 500px;
  margin-top: 15px;
  padding: 0px;
  overflow: hidden;
}
body.home-show .show-content .chart-area .SR-area-chat {
  width: 100%;
  height: 500px !important;
  background-color: #f3f3f3;
}
body.home-show .show-content .chart-area .SR-area-chat ul {
  padding: 0px 5px;
}
body.home-show .show-content .chart-area .SR-area-chat ul li {
  color: #000;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-msg {
  width: 100%;
  height: 500px;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-msg .boarder {
  height: 400px;
}
body.home-show .show-content .chart-area .SR-area-chat .msg-gift {
  display: none !important;
}
body.home-show .show-content .chart-area .SR-area-chat .control-bar {
  display: none;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk {
  bottom: 15px;
  padding-top: 5px;
  background: none;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk cite {
  display: none;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk .MR-horn {
  display: none;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk .MR-talk {
  position: relative;
  width: 100%;
  padding: 0px 15px;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk .MR-talk * {
  background: none;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk .MR-talk .speaker {
  position: absolute;
  width: auto;
  left: 15px;
  right: 115px;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk .MR-talk .speaker input {
  color: #000000;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding-left: 15px;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk .MR-talk .send-btn {
  color: #FFFFFF;
  position: absolute;
  right: 15px;
  width: 85px;
  background-color: #007bff;
  border-radius: 15px;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-talk .MR-talk .send-btn:hover {
  background-color: #0086b3;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-gift {
  display: none;
  width: 100%;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-gift .MR-gift {
  width: 100%;
  padding: 0px 15px;
}
body.home-show .show-content .chart-area .SR-area-chat .chat-gift .gift-group,
body.home-show .show-content .chart-area .SR-area-chat .chat-gift .con {
  width: 100%;
  padding: 0px;
}
.sidebar-nav {


border:#FFFF37 solid 1px;

  position: fixed;
  max-width: 200px;
  top: 100px;
  right: 30px;
  z-index: 1033;
}
.sidebar-nav a {
  color: #000000;
}
.m-list .m-item {
  cursor: pointer;
}
.m-list .m-item .item {
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #eee;
}
.m-list .m-item .item img {
  width: 100%;
}
.m-list .m-item .item .username {
  border: 3px solid #FFCC33;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 14px;
}
.m-list .m-item .item .username img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}
body {
  background: url(/public/images/body_bg.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
}
body.home-index {
  overflow-x: hidden;
}
body.home-index .navbar.bg-light {
  background: none !important;
  border: 0;
  box-shadow: none;
  z-index: 1031;
}
body.home-index .navbar.bg-light .nav-link {
  color: #EEEEEE;
  text-shadow: 3px 3px 3px #000;
}
body.home-index .navbar.bg-light .dropdown-item {
  color: #000000;
}
body.home-index .navbar.bg-light > .container-fluid {
  border-bottom: 1px solid #CCCCCC;
}
body.home-index .jumbotron {
  position: relative;
  margin-top: -100px;
  padding: 0px;
  min-height: 1024px;
  text-align: center;
  overflow: hidden;
  z-index: 1000;
}
body.home-index .jumbotron * {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 5px 5px 5px #000;
}
body.home-index .jumbotron div.title {
  position: relative;
  margin-top: 120px;
  font-size: 500%;
  z-index: 1000;
}
body.home-index .jumbotron div.title img {
  position: absolute;
}
body.home-index .jumbotron div.title img:first-child {
  top: -50%;
  left: -1%;
}
body.home-index .jumbotron div.title img:last-child {
  bottom: -20%;
  right: 5%;
}
body.home-index .jumbotron p {
  margin-top: 50px;
  font-size: 200%;
  letter-spacing: 15px;
}
body.home-index .jumbotron video {
  min-width: 100%;
  min-height: 1200px;
  z-index: 0;
}
body.home-index .jumbotron .tips {
  position: absolute;
  top: 20%;
  left: 15%;
  right: 15%;
}
body.home-index .m-list .item {
  position: relative;
  border: 0px;
  box-shadow: none;
  z-index: 1030;
}
body.home-index .m-list .m-list-item {
  margin-bottom: 60px;
}
body.home-index .module-title {
  text-align: center;
  margin: 30px auto 60px auto;
}
body.home-index .module-title p {
  font-size: 16px;
  color: #CCCCCC;
}
body.home-index .description p {
  padding: 0px 15px;
}
body.home-live .content,
body.home-record .content,
body.home-record-play .content {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 600px;
}
body.home-live .title h2,
body.home-record .title h2,
body.home-record-play .title h2 {
  font-size: 18px;
  border-left: 5px solid #FFCC33;
  padding-left: 10px;
  margin-bottom: 30px;
}
body.home-live .title h2 span,
body.home-record .title h2 span,
body.home-record-play .title h2 span {
  font-weight: bold;
}
body.home-live .title h2 p,
body.home-record .title h2 p,
body.home-record-play .title h2 p {
  padding-top: 10px;
  font-size: 14px;
  color: #C8CCCF;
}
body.home-live .record-live::before,
body.home-record .record-live::before,
body.home-record-play .record-live::before,
body.home-live .none-live::before,
body.home-record .none-live::before,
body.home-record-play .none-live::before,
body.home-live .live::before,
body.home-record .live::before,
body.home-record-play .live::before {
  position: absolute;
  display: block;
  width: 50px;
  height: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  right: 20px;
  top: 5px;
  z-index: 3;
  font-size: 12px;
  background: url("/public/home/images/live.png") no-repeat center;
}
body.home-live .record-live::before,
body.home-record .record-live::before,
body.home-record-play .record-live::before {
  content: '回放';
}
body.home-live .live::before,
body.home-record .live::before,
body.home-record-play .live::before {
  content: '直播中';
}
body.home-live .none-live::before,
body.home-record .none-live::before,
body.home-record-play .none-live::before {
  content: '未开播';
}
body.home-record-play .paly-video-box .author {
  margin-bottom: 15px;
}
body.home-record-play .paly-video-box .author img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
}
body.home-record-play .paly-video-box .author h5 {
  display: inline-block;
  font-size: 14px;
}
body.home-record-play .paly-video-box video {
  width: 100%;
}
body.body-news .content {
  margin-top: 30px;
}
body.body-news .content .post-title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
body.body-news .content .post-content {
  font-size: 16px;
}
body.home-personal .shouyez {
  width: auto;
}
#loginModal *,
#registerModal * {
  font-size: 14px;
}
#loginModal .modal-title,
#registerModal .modal-title {
  margin-left: auto;
}
#loginModal p,
#registerModal p {
  margin: 0px;
}
#loginModal .input-group .input-group-text,
#registerModal .input-group .input-group-text {
  min-width: 80px;
}
