.navbar {
  z-index: 1031;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  box-shadow: 2px 2px 2px #ccc;
}
.navbar a {
  color: #000;
}
.navbar .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.navbar .dropdown-menu {
  left: auto;
  right: 0;
}
.navbar .navbar-brand img {
  height: 60px;
}
